{% extends "pegasus/examples/examples_base.html" %}
{% load static %}
{% block app %}
  <nav aria-label="breadcrumbs">
    <ol class="pg-breadcrumbs">
      <li class=""><a href="{% url 'pegasus_employees:object_lifecycle_home' %}">Employee Lifecycle App</a></li>
      <li class="pg-breadcrumb-active" aria-current="page">{{ framework_name }}</li>
    </ol>
  </nav>
  <section class="app-card">
    <div class="pg-columns">
      <div class="pg-column-one-quarter pg-text-centered">
        <img class="img-fluid" alt="{{ framework_name }}" src="{{ framework_icon }}" style="max-height: 160px;"/>
      </div>
      <div class="pg-column">
        <h1 class="pg-title">{{ framework_name }} Object Lifecycle Demo</h1>
        <h2 class="pg-subtitle">
          A single-page interactive data model and UI example.
        </h2>
        <div class="pg-content">
          <p>
            This is an interactive data model and UI example using
            <a href="https://www.django-rest-framework.org/" target="_blank">Django Rest Framework</a> and
            <a href="{{ framework_url }}" target="_blank">{{ framework_name }}</a>.
            It demonstrates performing simple create, read, update and delete (CRUD) operations on an example
            "Employee" data model.
          </p>
        </div>
      </div>
    </div>
  </section>
  <div id="object-lifecycle-home"></div>
{% endblock %}
{% block page_js %}
    {{ department_choices|json_script:'department-choices' }}
    <script>
        // initialize any page specific stuff here
        // static files that are used by the page javascript.
        const STATIC_FILES = {
            'undraw_empty': "{% static 'images/undraw/undraw_empty.svg' %}",
        };
        const EMPLOYEE_DEPARTMENT_CHOICES = JSON.parse(document.getElementById('department-choices').textContent);
        const urlBase = "{{ url_base }}";
        const SERVER_URL_BASE = "{{ server_url }}";
    </script>
    {% block framework_bundle %}
    {% endblock %}
{% endblock %}
