{% extends "pegasus/examples/examples_base.html" %}
{% load static %}
{% block app %}
<section class="app-card">
  <h1 class="pg-title">Employee Lifecycle App</h1>
  <h2 class="pg-subtitle">
    The same CRUD (Create, Read, Update, Delete) application, backed by four different technologies.
  </h2>
</section>
  <div class="pg-columns">
    <div class="pg-column">
      <div class="pg-card h-100">
        <div class="pg-card-image">
          <figure class="image pg-ratio-3x2">
            <img class="img-fluid" src="{% static 'images/pegasus/django-icon.png' %}" alt="Django">
          </figure>
        </div>
        <div class="pg-card-body">
          <div class="pg-content">
            <h3>Django Forms</h3>
            <p>
              <strong>Tried-and-true Django forms.</strong>
              Great for rapid prototyping, or for those who don't want the overhead of fancy JavaScript frameworks.
            </p>
          </div>
          <div class="buttons">
            <a href="{% url 'pegasus_employees:django_object_lifecycle' %}" class="pg-button-secondary">
              <span>Django Forms Demo</span>
              <span class="pg-icon">
                <i class="fa fa-angle-double-right"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="pg-column">
      <div class="pg-card h-100">
        <div class="pg-card-image">
          <figure class="image pg-ratio-3x2">
            <img class="img-fluid" src="{% static 'images/pegasus/react-icon.png' %}" alt="React">
          </figure>
        </div>
        <div class="pg-card-body">
          <div class="pg-content">
            <h3>React</h3>
            <p>
              <strong>A single-page application built with React and React Router.</strong>
              React is the most popular front-end framework in the world today.
            </p>
          </div>
          <div class="buttons">
            <a href="{% url 'pegasus_employees:react_object_lifecycle' %}" class="pg-button-secondary">
              <span>React Demo</span>
              <span class="pg-icon">
                <i class="fa fa-angle-double-right"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div class="pg-columns mt-2">
    <div class="pg-column pg-column-one-third">
      <div class="pg-card h-100">
        <div class="pg-card-image">
          <figure class="image pg-ratio-3x2">
            <img class="img-fluid" src="{% static 'images/pegasus/htmx-icon.png' %}" alt="HTMX">
          </figure>
        </div>
        <div class="pg-card-body">
          <div class="pg-content">
            <h3>HTMX</h3>
            <p>
              <strong>A single-page application built with HTMX.</strong>
              HTMX allows building rich front-end experiences without writing any native JavaScript.
            </p>
          </div>
          <div class="buttons">
            <a href="{% url 'pegasus_employees:htmx_object_lifecycle' %}" class="pg-button-secondary">
              <span>HTMX Demo</span>
              <span class="pg-icon">
                <i class="fa fa-angle-double-right"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
