<nav class="navbar navbar-main navbar-expand-sm py-0 px-3 mx-0 shadow-none" id="navbarBlur" navbar-scroll="true">
  <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
    <div class="ms-md-auto pe-md-3 d-flex align-items-center"></div>
    <div class="dropdown">
      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        {% if request.user.is_authenticated %}
          <img class="navbar-avatar" src="{{ user.avatar_url }}" />
        {% endif %}Jared
      </button>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
        <li>
          <a class="dropdown-item" href="{% url 'users:user_profile' %}">
            <span class="pg-icon"><i class="fa fa-user"></i></span><span>Profile</span>
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="{% url 'subscriptions:subscription_details' %}">
            <span class="pg-icon"><i class="fa fa-repeat"></i></span><span>Manage Subscription</span>
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="{% url 'account_change_password' %}">
            <span class="pg-icon"><i class="fa fa-unlock-alt"></i></span><span>Change Password</span>
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="{% url 'account_logout' %}">
            <span class="pg-icon"><i class="fa fa-sign-out"></i></span><span>Sign Out</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
