{% extends "pegasus/examples/examples_base.html" %}
{% load static %}
{% block app %}
  <section class="app-card">
    <div class="pg-columns">
      <div class="pg-column-one-third">
        <img class="img-fluid" src="{% static 'images/undraw/undraw_to_the_stars.svg' %}" alt="You're Off!">
      </div>
      <div class="pg-column">
        <h1 class="pg-title">Hooray!</h1>
        <h2 class="pg-subtitle">
          You just completed a sample payment. Wasn't that easy?
        </h2>
        <p>
          To see your shiny new payment or make another, you can head back to the
          <a href="{% url 'pegasus_examples:payments' %}">payments demo</a>.
        </p>
      </div>
    </div>
  </section>
{% endblock %}
