/*!***********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./assets/styles/site-base.scss ***!
  \***********************************************************************************************************************/
.navbar-nav > li {
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-avatar {
  object-fit: cover;
  width: 32px;
  height: 32px;
  max-height: inherit !important;
  border-radius: 50%;
}

#profile-picture {
  display: flex;
  justify-content: center;
}
#profile-picture img.avatar {
  object-fit: cover;
  width: 128px;
  height: 128px;
  border-radius: 50%;
}

#profile-upload-holder {
  padding-top: 0.5em;
}
#profile-upload-holder input[type=file] {
  display: none;
}

.progress-bar {
  background-color: var(--primary);
  width: 2px;
}

#progress-bar-message {
  color: var(--gray);
}

.stripe-element {
  box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
  border-radius: 4px;
  line-height: 1.5;
  border: 1px solid #dbdbdb;
  padding: 1em;
}

.focused-stripe-element {
  border-color: var(--primary);
}

.invalid-stripe-element {
  border-color: var(--danger);
}

.complete-stripe-element {
  border-color: var(--success);
}

.upgrade-features li {
  display: flex;
}
.upgrade-features li .pg-icon {
  margin-right: 0.5rem;
}
.upgrade-features li .upgrade-feature {
  width: 100%;
}

#subscription-details-table .subscription-detail {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0.5rem;
}
#subscription-details-table .subscription-detail .subscription-detail-label {
  width: 16rem;
  text-align: right;
  margin-right: 1rem;
}
#subscription-details-table .subscription-detail .subscription-detail-value {
  width: 100%;
}
#subscription-details-table .subscription-detail .subdetail {
  font-size: 0.8rem;
  margin-top: 0.2rem;
}

#plan-selector .plan {
  height: 100%;
  border: 3px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  padding: 1rem;
}
#plan-selector .plan.is-selected {
  border: 3px solid var(--primary);
}
#plan-selector .plan .plan-summary {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#plan-selector .plan .price {
  font-size: 1.5rem;
}

.h-100 {
  height: 100%;
}

.muted-link {
  color: hsl(0deg, 0%, 71%);
}
.muted-link:hover {
  color: hsl(0deg, 0%, 48%);
  text-decoration: underline;
}

.errorlist {
  color: var(--danger);
}

img.socialicon {
  padding-right: 0.5em;
  max-width: 24px;
  max-height: 24px;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid var(--primary);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 34px;
  background-color: var(--primary);
  cursor: pointer;
}
.toggle-slider:before {
  position: absolute;
  content: "";
  width: 26px;
  height: 26px;
  border-radius: 26px;
  top: 4px;
  left: 4px;
  background-color: #fff;
  transition: all 0.3s ease;
}

.toggle-input-checked + .toggle-slider {
  background-color: #66bb6a;
}
.toggle-input-checked + .toggle-slider:before {
  transform: translateX(26px);
}

.toggle-text {
  display: inline-block;
  margin-left: 10px;
}
.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}
.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
}
.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}
.pricing .card-price .period {
  font-size: 0.8rem;
}
.pricing .card:hover .btn {
  opacity: 1;
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}

.media {
  min-width: 992px;
  card: hover;
  margin-top: -0.25rem;
  margin-bottom: 0.25rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
}

.feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #fff;
  border-radius: 0.75rem;
}
