{% load static %}
<div class="pg-columns pg-columns-reversed my-2">
  <div class="pg-column-one-quarter">
    <img class="img-fluid" src="{% static 'images/undraw/undraw_savings.svg' %}" alt="Upgrade to Save">
  </div>
  <div class="pg-column">
    <h1 class="pg-title">My Subscription</h1>
    <p class="pg-subtitle">You're not currently subscribed to a plan.</p>
    <p class="my-2">
      Choose the plan that best fits your needs below to gain access
      to additional functionality on our site!
    </p>
  </div>
</div>
