{% extends "pegasus/examples/examples_base.html" %}
{% block app %}
  <section class="app-card">
    <h3>Need a landing page?</h3>
    <p>This theme is based off of the open-source <a href="https://github.com/creativetimofficial/material-kit" target="_blank">Material Kit</a>,
      by <a href="https://www.creative-tim.com/" target="_blank">Creative Tim</a></p>
    <p>
      You can build your own landing page from the components there, or upgrade to <a href="https://www.creative-tim.com/product/material-kit-pro" target="_blank">Material Kit Pro</a>
      for even more options.
    </p>
  </section>
{% endblock %}
